/** CSS STYLE **/

:root {
  --white: #fff;
  --semitransparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --semitransparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.relative {
  position: relative;
}

.overflowx-hidden {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  color: #2a2626;
  line-height: 1.6em;
}

.image-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.mb-30 {
  margin-bottom: 30px;
}

.color-dark {
  color: var(--dark);
}

.color-prime {
  color: var(--primary);
}

.mr-30 {
  margin-right: 30px;
}

.text-center {
  text-align: center;
}

.width-350 {
  width: 350px;
}

a {
  text-decoration: none;
}

.color-white {
  color: var(--white);
}

.ml-0 {
  margin-left: 0;
}

.d-flex {
  display: flex;
}

.vertical-align-middle {
  vertical-align: middle;
}

.flex-1 {
  flex: 1;
}

.ml-30 {
  margin-left: 30px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.pt-100 {
  padding-top: 100px;
}

.dark-background {
  background-color: var(--primary-dark);
}

.mr-28 {
  margin-right: 28px;
}

.align-self-center {
  align-self: center;
}

.mt-76 {
  margin-top: 76px;
}

.wdth-100 {
  width: 100%;
}

.line-height-160 {
  line-height: 160%;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.dark-title {
  color: var(--dark);
  font-size: 72px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

.header-image {
  position: absolute;
  top: 55px;

  right: -270px;

  z-index: -1;
}

.text-description {

  display: flex;
  margin-top: 185px;
}

.text-desription-block {
  flex: 1;

  padding-top: 16px;
}

.header-button {
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;

  background: var(--primary);
  border: 0;
}

.header-button:hover {
  color: var(--semitransparent-white);

  background: var(--primary-dark);
}

.video {
  position: relative;

  margin-bottom: -200px;

  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.nav-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-header {
  margin-right: 10px;

  color: var(--primary);
  font-size: 52px;
}

.nav-header-container {
  width: 350px;
  margin-right: 28px;
}

.nav-card {
  width: 350px;
  margin-left: 30px;
  padding: 24px;

  background-color: var(--light);
}

.nav-card-header {
  margin-bottom: 10px;

  color: var(--primary);
}

.nav-card:hover {
  background-color: var(--primary);
}

.nav-card:hover .card-number {
  color: var(--white);
}

.nav-card:hover .nav-card-header {
  color: var(--white);
}

.nav-card:hover .nav-card-description {
  color: var(--white);
}

.card-number {
  margin-bottom: 40px;

  color: var(--primary-dark);

  font-size: 64px;
  font-family: 'Neucha', sans-serif;
  line-height: 1;
}

.padding-top-bottom-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-background-image::before {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -10;

  background-image: url(../images/background.png);

  background-repeat: no-repeat;

  background-size: cover;

  opacity: 0.1;

  content: "";
}

.section-background-light::after {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -20;

  background-color: var(--light);
  background-position: center center;

  content: "";
}

.dark-subheader {
  color: var(--semitransparent-dark);
  font-weight: normal;
  font-size: 24px;
  font-family: 'Neucha', sans-serif;
}

.distortion-description-text {
  font-weight: normal;
  font-size: 34px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

.distortion-header-white {
  color: var(--white);

  font-weight: bold;

  font-size: 14px;
  line-height: 17px;

  text-transform: uppercase;
}

.distortion-header-container-dark {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 6px;
  padding-bottom: 6px;

  padding-left: 5px;

  background-color: var(--brown);
}

.section-background-dark::after {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -20;

  background-color: var(--brown);
  background-position: center center;

  content: "";
}

.light-subheader {
  color: var(--semitransparent-white);
  font-weight: normal;
  font-size: 24px;
  font-family: 'Neucha', sans-serif;
}

.distortion-header-container-light {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 6px;
  padding-bottom: 6px;

  padding-left: 5px;

  background-color: var(--white);
}

.distortion-header-dark {
  color: var(--brown);

  font-weight: bold;

  font-size: 14px;
  line-height: 17px;

  text-transform: uppercase;
}

.feedback-block {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  padding-right: 55px;
  padding-bottom: 40px;
  padding-left: 55px;

  background-color: var(--primary-dark);
}

.subscription-form {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.input-container {
  display: flex;

  flex-direction: column;
  width: 100%;
}

.subscription-form-label {
  color: var(--white);
  font-size: 18px;
}

.subscription-form-input {
  width: 100%;
  height: 50px;
  margin-top: 8px;
  padding: 0;
  padding-left: 15px;

  border: 0;
}

.subscription-form-button {
  display: flex;

  align-items: center;

  justify-content: center;

  width: 70px;
  height: 50px;

  background-color: var(--primary);

  border: 0;
}

.subscription-form-button:hover {
  background-color: var(--semitransparent-dark);
}

.subscription-form-button::before {
  display: block;
  width: 25px;
  height: 25px;

  background-image: url(../images/send.svg);

  background-size: cover;

  content: "";
}

.subscription-form-disclaimer {
  color: var(--white);
  font-size: 12px;
}

.subscription-form-disclaimer a {
  color: var(--white);
  text-decoration: underline;
}

.copyright-text a {
  text-decoration: underline;
}

.subscription-form-disclaimer a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.copyright-text {
  color: black;

  font-size: 14px;
  text-align: center;
}

/* Media-queries — responsive */

@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 960px;
  }

  .header-image {
    right: -315px;
  }

  .text-description {
    max-width: 90%;
  }

  .video {
    max-width: 85%;
  }

  .nav-header-container {
    width: 300px;
    margin-right: 24px;
  }

  .nav-header-container h2 {
    font-size: 44px;
  }

  .distortion-image {
    width: 433.5px;
    height: 325.5px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }

  .header-image {
    right: -400px;

    opacity: 0.9;
  }

  .text-description {
    max-width: 100%;
  }

  .video {
    max-width: 560px;
    max-height: 315px;
  }

  .nav-cards {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .nav-header-container {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;

    text-align: center;
  }

  .nav-header {
    margin: 0;
  }

  .nav-card {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .distortion-image {
    width: 578px;
    height: 434px;
  }

  .image-container {
    order: -1;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .distortion-header {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
  }

  .feedback-block {
    flex-direction: column;
    align-items: center;
  }

  .feedback-block h3 {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .header-image {
    top: 10px;
    right: -400px;

    opacity: 0.5;
  }

  .text-description {
    flex-direction: column;
    margin-top: 150px;
  }

  .text-desription-block {
    margin-right: 0;
    padding-top: 0;
  }

  .text-desription-block p:first-child {
    margin-top: 10px;
  }

  .video {
    max-width: 100%;
    max-height: 300px;
  }

  .nav-header-container {
    margin-top: 30px;
  }

  .distortion-image {
    width: 433.5px;
    height: 325.5px;
  }

  .distortion-description {
    flex-direction: column;
  }

  .distortion-description p {
    margin-right: 0;
  }

  .distortion-description p:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 90%;
    margin: 0;
    padding: 15px 15px;
  }

  header h1 {
    font-size: 38px;
  }

  .dark-title {
    font-size: 38px;
  }

  .header-image {
    display: none;
  }

  .text-description {
    margin-top: 10px;
  }

  .video {
    width: 320px;
    height: 240px;
  }

  .nav-header-container {
    max-width: 80%;
    margin-top: 90px;
  }

  .nav-header {
    font-size: 18px;
  }

  .nav-card {
    max-width: 70%;
  }

  .nav-card-header {
    font-size: 28px;
  }

  .distortion-header h2 {
    font-size: 36px;
  }

  .distortion-header-container-dark,
  .distortion-header-container-light {
    margin-top: 30px;
  }

  .distortion-image {
    max-width: 289px;
    height: 217px;
  }

  .distortion-description-text {
    font-size: 20px;
  }

  .copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .video-section-header {
    font-size: 36px;
  }
}
